<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Videos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Search Videos</h1>
    <form action="/search" method="get">
        <input type="text" name="keyword" placeholder="Keyword..." required>
        <button type="submit">Search</button>
    </form>
    <p>
        <a href="/search" class="button-link">Watch all videos</a>
    </p>
    <p>
      Video count : {{ video_count }}
    </p>
</body>
</html>

